---
import Lightbox from '@julian_cataldo/astro-lightbox';

export interface Props {
	title: string;
}

const { title } = Astro.props;

import mjclogo from '/images/mjc-logo.svg';
import email from '/images/email-icon.svg';
import linkedin from '/images/linkedin-icon.svg';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Lightbox />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<a href="/" class="logo-container">
				<img src={mjclogo} alt="Logo for MJC" />
				<h1>Morgan Cadow</h1>
			</a>
			<div class="nav-links">
				<a href="/work" class="my-work navunderline">My work</a>
				<a href="/images/mcadow-resume-2023.pdf" target="_blank">Resume</a>
			</div>
		</header>
		<slot />
		<footer>
			<a href="mailto:morgan@ajarat.io">
				<img src={email} width="100%" alt="Email me!" />
			</a>
			<a href="https://www.linkedin.com/in/mcadow/" target="_blank">
				<img src={linkedin} width="100%" alt="See me on LinkedIn!" />
			</a>
		</footer>
	</body>
</html>

<style is:global lang="scss">
	@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;1,300&display=swap');

	// Colors
	$white: #fff;
	$black: #353535;

	$background: #F6F4F4;

	$enabled: #6457a6;
	$hover: #43387e;
	$active: #8f81d7;

	:root {
		--accent: 100, 87, 166;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #a578b9 20%);
	}
	html {
		font-family: 'Barlow', sans-serif;
		font-weight: 300;
		background-color: $background;
	}
	body {
		margin: 0;
		background-image: url(../images/bg-swirl.svg);
		background-position: center 20px;
		background-repeat: no-repeat;
	}
	main {
		margin: auto;
		padding: 2.25rem 1.25rem;
	}

	.title-area {
		margin-bottom: 3rem;

		img {
			display: none;
		}
	}

	.portal img {
		object-fit: scale-down !important;
	}

	// Text Styles
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	h2 {
		font-size: 2.25rem;
		font-weight: 500;
		margin: 0 0 1rem 0;
	}
	.subtitle {
		margin: 0 0 3rem;
    	font-size: 1.25rem;
	}
	a {
		font-weight: 500;
		text-decoration: none;
		color: rgb(var(--accent));
		transition: all 0.2s;

		&:hover {
			text-decoration: underline;
			color: $hover;
		}
		&:active{
			color: $active;
		}
	}
	p {
		line-height: 1.6;

		&.img-alt {
			margin-block-start: .5rem;
			margin-block-end: 1.5rem;
			font-weight: 300;
			font-style: italic;
			font-size: 0.875rem;
			text-align: center;
		}
	}
	ul {
		line-height: 1.6;
	}
	.text-large {
		font-size: 1.25rem;
	}
	.text-large-italic {
		font-size: 1.25rem;
		font-weight: 300;
		font-style: italic;
	}

	// Utilities
	.margin-top-0 {
		margin-top: 0 !important;
		margin-block-start: 0 !important;
	}
	.margin-bottom-0 {
		margin-bottom: 0 !important;
		margin-block-end: 0 !important;
	}
	.margin-top-16 {
		margin-top: 1rem;
	}
	.margin-top-24 {
		margin-top: 1.5rem;
	}
	.margin-top-48 {
		margin-top: 3rem;
	}
	.align-center {
		text-align: center;
	}

	// Header
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 1rem 0 1rem 1rem;

		& > * {
			display: flex;
		}

		.logo-container {

			img {
				width: 40px;
			}
			h1 {
				display: none;
			}
		}
		.nav-links {
			align-items: center;
			 
			a {
				margin-right: 1.5rem;
				font-size: 1.125rem;
				color: $black;

				&:hover {
					color: $hover;
					text-decoration: underline;
				}
				&:active {
					color: $active;
					text-decoration: underline;
				}
			}
		}
	}

	// Footer
	footer {
		display: flex;
		justify-content: center;
		padding: 3rem 0;
		background-color: $white;

		a {
			
			img {
				width: 50px;
				height: 50px;
				margin: 0 1rem;
			}
		}
	}

	// Divider
	.hr {
		width: 100%;
		height: 2px;
		display: block;
		position: relative;
		margin-block-start: 3rem;
    	margin-block-end: 3rem;

		&:after,
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 50%;
			left: 0;
		}

		&:before {
			background: linear-gradient( 90deg, $background 0%, $background 50%, transparent 50%, transparent 100% );
			background-size: 15px;
			background-position: center;
			z-index: 1;
		}

		&:after {
			transition: opacity 0.3s ease, animation 0.3s ease;

			background: linear-gradient(
				to right, 
				#FFD085 0%, 
				#EE9ECF 20%, 
				#94F0EB 40%, 
				#6457A6 60%,
				#FFD085 80%);

			background-size: 200%;
			background-position: 0%;
			animation: bar 15s linear infinite;
		}

		@keyframes bar {
			0% { background-position: 0%; }
			100% { background-position: 200%; }
		}
	}

	@media only screen and (min-width: 768px) {

		body {
			background-image: url(../images/bg-circle-left.svg), url(../images/bg-swirl.svg), url(../images/bg-triangles-right.svg);
			background-position: left 270px, center 120px, right top;
			background-repeat: no-repeat, no-repeat, no-repeat;
		}
		main {
			margin: auto;
			padding: 2rem 1.5rem;
			max-width: 1260px;
		}

		.title-area {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 5rem;

			img {
				display: block;
				width: 250px;
    			margin-left: 3rem;
			}
		}

		h2 {
			margin: 0 0 1.5rem;
			font-size: 2rem;
		}
		.subtitle {
			margin: 0 0;
			font-size: 1.25rem;
		}

		header {
			padding: 1.5rem 1rem 1.5rem 1.5rem;

			.logo-container {
				align-items: center;

				img {
					width: 50px;
				}
				h1 {
					display: inline-block;
					margin: 0 0 0 1.25rem;
					font-size: 1.25rem;
					color: $black;
				}

				&:hover h1 {
					color: $hover;
					text-decoration: underline;
				}
				&:active h1 {
					color: $active;
					text-decoration: underline;
				}
			}
			.nav-links {
				
				a {
					margin-right: 1.5rem;
					font-size: 1.25rem;
				}
			}
		}

		footer {
			padding: 4rem 0;

			a {
				
				img {
					margin: 0 2rem;
				}
			}
		}
	}

	@media only screen and (min-width: 1024px) {

		main {
			padding: 2rem 1.5rem 3rem;
		}

		h2 {
			font-size: 2.5rem;
		}
		.subtitle {
			font-size: 1.5rem;
		}

		.title-area {

			img {
				width: 350px;
				margin-left: 4rem;
			}
		}

		footer {
			padding: 6rem 0;
		}
	}

	@media only screen and (min-width: 1260px) {

		main {
			padding: 3rem 1.5rem 6rem;
		}

		header {
			max-width: 1260px;
			margin: auto;
			padding: 1.5rem;

			.logo-container {
				
				h1 {
					display: inline-block;
					margin: 0 0 0 1.5rem;
				}
			}
			.nav-links {
				
				a {
					margin-right: 2rem;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}

		h2 {
			font-size: 3rem;
		}

		.title-area {
			margin-bottom: 6rem;

			img {
				width: 400px;
    			margin-left: 5rem;
			}
		}
	}
</style>
